---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Frontend Mentor | Easybank landing page",
  description = "Your finance solution",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!--Web Title -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
